* {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  flex: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  align-items: top;
  justify-content: center;
  grid-auto-flow: row;
}

body {
  display: flex;
  padding: 0;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

header {
  flex: 0 0 5em;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items:center;
  gap: .7em;
  background-color: #3bb68d;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

footer {
  flex: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

h1 {
  margin-right: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

button {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #6fefc4;
  border-width: 3px;
  border-radius: 1em;
  padding: 1em;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #6fefc4;
}

.svg {
  height: 2em;
}

.main-col {
  display: flex;
  flex-direction: column;
  row-gap:2em;
  justify-content: flex-start;
  /*background: #AAAA00; */
}

.grid-piece {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.personalStats {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.graph {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 680px){
  #button-col {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 15px;
  }
}